
body {
    background-color: #f9f7f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: #f9f7f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    max-width: 600px;
    width: 100%;
}

h1 {
    color: #d89d6a;
    text-align: center;
}

p {
    color: #333;
    line-height: 1.6;
}

a {
    color: #d89d6a;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
